.add-option-error {
    color: #FF6347;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: $m-size 0;
}

.add-option {
    display: flex;
    padding: $m-size;
}

.add-option__input {
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    flex-grow: 1;
    margin-right: $s-size;
    padding: $s-size;
}